In [2]:
import pandas as pd
movies_df = pd.read_csv("IMDB_top_250_movies.csv")

In [4]:
movies_df["movie Name"] = movies_df["movie Name"].str.strip()

In [5]:
movies_df["movie year"] = pd.to_numeric(movies_df["movie year"], errors="coerce")

In [6]:
movies_df["movie Rate"] = pd.to_numeric(movies_df["movie Rate"], errors="coerce")

In [7]:
def duration_minutes(duration):
    hours = 0
    minutes = 0
    if "h" in duration:
        h = duration.index("h")
        hours = int(duration[:h])
        if "m" in duration:
            m = duration.index("m")
            minutes = int(duration[h+1:m])
    else:
        if "m" in duration:
            m = duration.index("m")
            minutes = int(duration[:m])
    return hours*60 + minutes

movies_df["movie duration"] = movies_df["movie duration"].apply(duration_minutes)

In [8]:
movies_df["movie URL"] = movies_df["movie URL"].fillna("NULL")

In [9]:
movies_df = movies_df.drop_duplicates(subset=["movie Name", "movie URL"])

In [10]:
movies_df = movies_df.dropna(subset=["movie Name", "movie year", "movie Rate", "movie duration"])

In [11]:
movies_df = movies_df.sort_values(by=["movie Rate"], ascending=False)

In [12]:
movies_df.to_csv("IMDB_top_250_movies_cleaned.csv", index=False, encoding="utf-8")

movies_df.to_excel("IMDB_top_250_movies_cleaned.xlsx", index=False)

In [13]:
print(movies_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie Name         250 non-null    object
 1   movie year         250 non-null    int64
 2   movie Rate         250 non-null    float64
 3   movie duration     250 non-null    int64
 4   movie certificate  249 non-null    object
 5   movie URL          250 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 13.7+ KB
None

In [14]:
print(movies_df.head())

                    movie Name  movie year  movie Rate  movie duration  \
0  1. The Shawshank Redemption        1994         9.3             142
1             2. The Godfather        1972         9.2             175
2           3. The Dark Knight        2008         9.1             152
3     4. The Godfather Part II        1974         9.0             202
4              5. 12 Angry Men        1957         9.0              96

  movie certificate                                          movie URL
0                15  https://www.imdb.com/title/tt0111161/?ref_=cht...
1                15  https://www.imdb.com/title/tt0068646/?ref_=cht...
2               12A  https://www.imdb.com/title/tt0468569/?ref_=cht...
3                 X  https://www.imdb.com/title/tt0071562/?ref_=cht...
4                 U  https://www.imdb.com/title/tt0050083/?ref_=cht...